body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

.status-box {
    font-family: monospace;
    font-size: 12px;
    color: #444;
    text-align: left;
    display: block;
    white-space: pre;
    margin: 1em 0;
}

.stacked {
    display: flex;
    flex-direction: column;
}

.big-button {
    font-size: 20px;
    margin-bottom: 5px;
}
